@model SearchEquipmentViewModel

@foreach (var item in @Model.Equipments){
    <div class="media mb-3 equipment-list">
        <img class="mr-3" src="@item.CoverPhoto.RequestPath" alt="@item.CoverPhoto.FileName">
        <div class="media-body">
            <a class="font-weight-bold equipment-title h3" 
                asp-controller="Equipment" asp-action="show"
                asp-route-type="@ViewData["Action"]"
                asp-route-id="@item.Id"> 
                @item.Manufacturer  @item.Model @item.Name  
            </a>
            <p>
                @Html.DisplayNameFor(model => item.WorkingTime):
                <b>@item.WorkingTime Hr*</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.ProductionDate):
                <b>@(((DateTime)item.ProductionDate).Year)</b>
            </p>
            @if(item.Price != null){
            <p>
                @Html.DisplayNameFor(model => item.Price):
                <b>@item.Price@item.PriceCurrency?.SymbolCode</b>
            </p>
            }
            <p>
            <p>
                @Html.DisplayNameFor(model => item.Code):
                <b>@item.Code</b>
            </p>
        </div>
    </div>
}