@inject SignInManager<ApplicationUser> SignInManager
@model SearchEquipmentViewModel
@foreach (var item in @Model.Equipments){
    <div class="media pb-3 mb-3 equipment-list ">
        <!-- <div style="background-image:url(@item.CoverPhoto.RequestPath);width: 240px;
    height: 150px;
    background-size: cover;" class="mr-2 @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){@Html.DisplayName("sold-out-new")}">
        </div> -->
        <div class="cover-photo @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){@Html.DisplayName("is-sold-out")}  d-flex justify-content-center align-items-center mr-3">
            <img class="mb-4" src="@item.CoverPhoto.RequestPath" alt="@item.CoverPhoto.FileName">
            @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){
                <div class="sold-out"></div>
            }
        </div>
        <div class="media-body ">
            <a class="font-weight-bold equipment-title h3 mb-2 d-flex" 
                asp-controller="Equipment" asp-action="show"
                asp-route-type="@ViewData["Action"]"
                asp-route-id="@item.Id" target="_blank">
                @item.Manufacturer  @item.Model @item.Name
            </a>
            @if(item.DealPrice == null && ViewData["Action"] == "InsteadAuction"){
                <b class="price pb-md-2 pb-sm-1">@item.PriceCurrency?.SymbolCode@item.Price</b>
            }
            @if(ViewData["Action"] == "Auctioned"){
                <b class="price pb-md-2 pb-sm-1">@item.DealPriceCurrency?.SymbolCode@item.DealPrice?.ToString("N0")</b>
            }
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole(ApplicationRole.Admin) || User.IsInRole(ApplicationRole.Staff))){
                <p>
                    @Html.DisplayNameFor(model => item.Code):
                    <b>@item.Code</b>
                </p>
             }
            <p>
                @Html.DisplayNameFor(model => item.ProductionDate):
                <b>@(((DateTime)item.ProductionDate).Year)</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.WorkingTime):
                <b>@item.WorkingTime Hr*</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.Country)@Html.DisplayNameFor(model => item.City):
                <b>@item.Country @item.City</b>
            </p>
            @if(ViewData["Action"] == "NoAuction" || ViewData["Action"] == "Auctioned"){
            <p>
                @Html.DisplayNameFor(model => item.SoldAt)@Html.DisplayName(":")
                <b>@Html.DisplayFor(model => item.SoldAt)</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.AuctionHouse)@Html.DisplayName(":")
                <b>@Html.DisplayFor(model => item.AuctionHouse)</b>
            </p>
            }
            @if(ViewData["Action"] == "NoAuction"){
            <p>
                @Html.DisplayNameFor(model => item.LotNo)@Html.DisplayName(":")
                <b>@Html.DisplayFor(model => item.LotNo)</b>
            </p>
            }
        </div>
        <!-- <div class="sold-out">
        </div> -->
    </div>
}