@model SearchEquipmentViewModel
@foreach (var item in @Model.Equipments){
    <div class="media pb-3 mb-3 equipment-list ">
        <!-- <div style="background-image:url(@item.CoverPhoto.RequestPath);width: 240px;
    height: 150px;
    background-size: cover;" class="mr-2 @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){@Html.DisplayName("sold-out-new")}">
        </div> -->
        <div class="cover-photo @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){@Html.DisplayName("is-sold-out")}">
            <img class="mr-3 sold-out-new" src="@item.CoverPhoto.RequestPath" alt="@item.CoverPhoto.FileName">
            @if(item.DealPrice != null && ViewData["Action"] == "InsteadAuction"){
                <div class="sold-out"></div>
            }
        </div>
        <div class="media-body ">
            <p class="font-weight-bold equipment-title h3" 
                asp-controller="Equipment" asp-action="show"
                asp-route-type="@ViewData["Action"]"
                asp-route-id="@item.Id"> 
                @item.Manufacturer  @item.Model @item.Name  
            </p>
            @if(item.DealPrice == null && ViewData["Action"] == "InsteadAuction"){
                <b class="price pb-3">@item.PriceCurrency?.SymbolCode@item.Price</b>
            }
            <p>
                @Html.DisplayNameFor(model => item.WorkingTime):
                <b>@item.WorkingTime Hr*</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.ProductionDate):
                <b>@(((DateTime)item.ProductionDate).Year)</b>
            </p>
            <p>
                @Html.DisplayNameFor(model => item.Code):
                <b>@item.Code</b>
            </p>
        </div>
        <!-- <div class="sold-out">
        </div> -->
    </div>
}