@model SearchEquipmentViewModel

<form asp-controller="Equipment" asp-action='@ViewData["Action"]' method="post">
    <input type="hidden" asp-for="@Model.KeyWord">

    @if(Model.Names?.Length > 0){
        <div class="form-group mt-3 mr-3 pb-3" id="names-form-group">
            <label asp-for="Names" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.Names?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "Names_" + @i + "__Selected";
                            var nameSelected = "Names[" + @i + "].Selected";
                            var isChecked = @Model.Names[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input value="true" id="@idSelected" name="@nameSelected" class="form-check-input" type="checkbox" @isChecked />
                        <label asp-for="@Model.Names[i].Selected" class="form-check-label">
                            @Model.Names[i].Name (@Model.Names[i].Count)
                        </label>
                        @{
                            var value = @Model.Names[i].Name;
                            var id = "Names_" + @i + "__Name";
                            var name = "Names[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.Manufacturers?.Length > 0){
        <div class="form-group mr-3 pb-3" id="manufacturers-form-group">
            <label asp-for="Manufacturers" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.Manufacturers?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "Manufacturers_" + @i + "__Selected";
                            var nameSelected = "Manufacturers[" + @i + "].Selected";
                            var isChecked = @Model.Manufacturers[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" value="true" id="@idSelected" name="@nameSelected" class="form-check-input" @isChecked />
                        
                        <label asp-for="@Model.Manufacturers[i].Selected" class="form-check-label">
                            @Model.Manufacturers[i].Name (@Model.Manufacturers[i].Count)
                        </label>
                        @{
                            var value = @Model.Manufacturers[i].Name;
                            var id = "Manufacturers_" + @i + "__Name";
                            var name = "Manufacturers[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.Models?.Length > 0){
        <div class="form-group mr-3 pb-3" id="models-form-group">
            <label asp-for="Models" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.Models?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "Models_" + @i + "__Selected";
                            var nameSelected = "Models[" + @i + "].Selected";
                            var isChecked = @Model.Models[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" value="true" id="@idSelected" name="@nameSelected" class="form-check-input" @isChecked />
                        
                        <label asp-for="@Model.Models[i].Selected" class="form-check-label">
                            @Model.Models[i].Name (@Model.Models[i].Count)
                        </label>
                        @{
                            var value = @Model.Models[i].Name;
                            var id = "Models_" + @i + "__Name";
                            var name = "Models[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.Countries?.Length > 0){
        <div class="form-group mr-3 pb-3" id="countries-form-group">
            <label asp-for="Countries" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.Countries?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "Countries_" + @i + "__Selected";
                            var nameSelected = "Countries[" + @i + "].Selected";
                            var isChecked = @Model.Countries[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" value="true" id="@idSelected" name="@nameSelected" class="form-check-input" @isChecked />
                        
                        <label asp-for="@Model.Countries[i].Selected" class="form-check-label">
                            @Model.Countries[i].Name (@Model.Countries[i].Count)
                        </label>
                        @{
                            var value = @Model.Countries[i].Name;
                            var id = "Countries_" + @i + "__Name";
                            var name = "Countries[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.Cities?.Length > 0){
        <div class="form-group mr-3 pb-3" id="cities-form-group">
            <label asp-for="Cities" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.Cities?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "Cities_" + @i + "__Selected";
                            var nameSelected = "Cities[" + @i + "].Selected";
                            var isChecked = @Model.Cities[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" value="true" id="@idSelected" name="@nameSelected" class="form-check-input" @isChecked />
                        
                        <label asp-for="@Model.Cities[i].Selected" class="form-check-label">
                            @Model.Cities[i].Name (@Model.Cities[i].Count)
                        </label>
                        @{
                            var value = @Model.Cities[i].Name;
                            var id = "Cities_" + @i + "__Name";
                            var name = "Cities[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.Cities?.Length > 0){    
        <div class="form-group mr-3 pb-3" id="auction-house-form-group">
            <label asp-for="AuctionHouses" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                @for (var i = 0; i < Model.AuctionHouses?.Length; i++)
                {
                    <div class="form-check">
                        @{
                            var idSelected = "AuctionHouses_" + @i + "__Selected";
                            var nameSelected = "AuctionHouses[" + @i + "].Selected";
                            var isChecked = @Model.AuctionHouses[i].Selected ? "checked=\"checked\"" : "";
                        }
                        <input type="checkbox" value="true" id="@idSelected" name="@nameSelected" class="form-check-input" @isChecked />
                        
                        <label asp-for="@Model.AuctionHouses[i].Selected" class="form-check-label">
                            @Model.AuctionHouses[i].Name (@Model.AuctionHouses[i].Count)
                        </label>
                        @{
                            var value = @Model.AuctionHouses[i].Name;
                            var id = "AuctionHouses_" + @i + "__Name";
                            var name = "AuctionHouses[" + @i + "].Name";
                        }
                        <input type="hidden" value="@value" id="@id" name="@name" />
                    </div>
                }
            </div>
        </div>
    }
    @if(Model.WorkingTimeMax != null && 
        Model.WorkingTimeMax > 0 &&
        Model.WorkingTimeMax != Model.WorkingTimeMin){
        <div class="form-group  mr-3 pb-3 working-time-range-slider">
            <label class="col-md-6 control-label">工作时长范围</label>
            <div class="col-md-12">
                <input id="working-time-range-slider"/>
            </div>
            <input type="hidden" asp-for="@Model.WorkingTimeRangeMin"/>
            <input type="hidden" asp-for="@Model.WorkingTimeRangeMax"/>
        </div>
    }

    @if(Model.ProductionDateMax != null && 
        Model.ProductionDateMax > 0 &&
        Model.ProductionDateMax != Model.ProductionDateMin){
        <div class="form-group  mr-3 pb-3 production-date-range-slider">
            <label class="col-md-6 control-label">生产年份范围</label>
            <div class="col-md-12">
                <input id="production-date-range-slider"/>
            </div>
            <input type="hidden" asp-for="@Model.ProductionDateRangeMin"/>
            <input type="hidden" asp-for="@Model.ProductionDateRangeMax"/>
        </div>
    }
    
    @if(Model.DealPriceMax != null && Model.DealPriceMax > 0 && false){
        <div class="form-group  mr-3 pb-3 deal-price-range-slider">
            <label class="col-md-6 control-label">成交价范围</label>
            <div class="col-md-12"><input id="deal-price-range-slider"/></div>
            <input type="hidden" asp-for="@Model.DealPriceRangeMin"/>
            <input type="hidden" asp-for="@Model.DealPriceRangeMax"/>
        </div>
    }

   
    @if(Model.SoldAtMax > ApplicationConstant.DateTimeMinValue &&
        Model.SoldAtMax != Model.SoldAtMin){
        <div class="form-group mr-3 pb-3 sold-at-range-picker from-inline">
            <label class="col-md-6 control-label">拍卖日期范围</label>
            <div class="col-md-12">
                <input type="text" id="sold-at-range-picker" value="@Model.SoldAtRangeDefaultMin - @Model.SoldAtRangeDefaultMin" class="form-control"/>
            </div>
            <input type="hidden" asp-for="@Model.SoldAtRangeMin"/>
            <input type="hidden" asp-for="@Model.SoldAtRangeMax"/>
        </div>
    }

    <input type="hidden" asp-for="@Model.Sort.Field">
    <input type="hidden" asp-for="@Model.Sort.Direction">
</form>