@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.Extensions.Options;
@model SearchEquipmentViewModel
@{
    ViewData["Title"] = "未拍卖设备";
    ViewData["Action"] = "NoAuction";
}
@section stylesheet {
    <link href="~/lib/ion-rangeslider/css/ion.rangeSlider.min.css" media="all" rel="stylesheet" type="text/css"/>
}

<div class="bodyinfo row flex-column">
    <div class="search-input  pt-2 d-flex justify-content-center">
        <div class="form-group col-md-6">
            <form asp-controller="Equipment" asp-action='@ViewData["Action"]' method="get" id="searchform" class="form-inline justify-content-center">
                <input asp-for="@Model.KeyWord" class="form-control col-md-8 col-sm-6 col-8">
                <button type="submit" value="Submit" class="btn btn-primary ml-2">搜索设备</button>
            </form>
        </div>
    </div>
    <div class="condition">
        
    </div>
    <div class="info d-flex flex-grow-1">
        @await Html.PartialAsync("_AuctionInfoPartial", Model, ViewData)
        
    </div>
</div>


@section script {
    <script src="~/lib/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script>    
        function searchEquipments(method = "get", nextPage = 1, pageSize = parseInt("@Model.PageSize")){
            var formData = $("#filter-form").serializeObject();
            formData.KeyWord = $("#KeyWord").val();
            var pageData = {
                CurrentPage: nextPage,
                PageSize: pageSize 
            };
            $.ajax({
                type: method,
                url: "@Url.Action("NoAuctioned")",
                data: Object.assign({}, pageData, formData),
                success: function (response) {
                    if(method == "get"){
                        $(".info").html("");
                        $(".info").html(response);
                        //$('#mydiv').html($(response).find('#something').html());
                        $(response).filter('script').each(function(){
                            $.globalEval(this.text || this.textContent || this.innerHTML || '');
                        });
                    }
                    if(method == "post"){
                        if(response.TotalCount == 0){
                            scrollEndGet.hasMore = false;
                            $(".data")[0] .innerHTML += response.Data;
                        }else{
                            $(".data")[0] .innerHTML += response;
                            currentPage += 1;
                            scrollEndGet.hasMore = true;
                        }
                        scrollEndGet.ticking = false;
                    }
                }
            });
        }

        if(parseInt("@Model.Equipments.Count") == parseInt("@Model.PageSize")){
            scrollEndGet.hasMore = true;
        }
        var currentPage = parseInt("@Model.CurrentPage") || 1;
        scrollEndGet.currentPage = currentPage;
    </script>
    @{ await Html.RenderPartialAsync("_SliderScriptsPartial"); }
}