@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.Extensions.Options;
@model SearchEquipmentViewModel
@{
    ViewData["Title"] = "未拍卖设备";
}
@section stylesheet {
    <link href="~/lib/ion-rangeslider/css/ion.rangeSlider.min.css" media="all" rel="stylesheet" type="text/css"/>
}

<div class="bodyinfo row text-dark">
    <div class="condition">
        
    </div>
    <div class="info d-flex"> 
        <div class="search">
            @await Html.PartialAsync("_AuctionSearchPartial", Model,
                                        new ViewDataDictionary(ViewData){})
        </div>
        <div class="show flex-grow-1">
            <div class="sort">
                @await Html.PartialAsync("_AuctionSortPartial", Model,
                                        new ViewDataDictionary(ViewData){})
            </div>
            <div class="data">
                
            </div>
        </div>
    </div>
</div>


@section script {
    <script src="~/lib/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script>
        function searchEquipments(){
            $.ajax({
                type: "get",
                url: "@Url.Action("NoAuction")",
                data: $("form").serialize(),
                success: function (response) {
                    
                }
            });
        }
        function addRemoveElement(parentNode, chipElementId, resetValue){
            var span = document.createElement("span");
                span.className ="closebtn";
                span.innerHTML = "&times;";
                console.log(chipElementId);
                span.onclick = function(e){
                    var elem = document.getElementById(chipElementId);
                    elem.parentNode.removeChild(elem);
                    if(resetValue.length == 0){
                        resetValue();
                    }else{
                        resetValue(chipElementId.split("-chip")[0])
                    }
                    searchEquipments();
                }
            parentNode.appendChild(span);
        }

        function addOrUpdateChip(resetValue, ...args){
            var existChip = document.getElementById(args[0]);
            
            if(existChip) {
                if(args.length == 3 ){
                    existChip.innerText = args[1] + "—" + args[2];
                } else {
                    existChip.innerText = args[1];
                }
                addRemoveElement(existChip, args[0], resetValue);
            } else {            
                var chip = document.createElement("div");
                    chip.className = "chip";
                    chip.id = args[0].toString();
                if(args.length == 3 ){
                    chip.innerHTML = args[1] + "—" + args[2];
                }else{
                    chip.innerHTML = args[1];
                }
                addRemoveElement(chip, args[0], resetValue);
                document.getElementsByClassName("condition")[0].appendChild(chip);
            }  
            searchEquipments();
        }
        
        if(@Model.WorkingTimeMax > 0){
            $("#working-time-range-slider").ionRangeSlider({
                skin: "round",
                type: "double",
                min: @Model.WorkingTimeMin,
                max: @Model.WorkingTimeMax,
                from: @Model.WorkingTimeRange[0],
                to: @Model.WorkingTimeRange[1],
                grid: false,
                grid_snap: true,
                from_fixed: false,  // fix position of FROM handle
                to_fixed: false,
                onFinish: function (data) {
                    $("input[name='WorkingTimeRange[0]'").val(data.from);
                    $("input[name='WorkingTimeRange[1]'").val(data.to);
                    addOrUpdateChip(resetWorkingTimeRangeSlider, "working-time-chip", "工作时长(小时)：" + data.from, data.to);
                }
            });
            function resetWorkingTimeRangeSlider(){
                $("#working-time-range-slider").data("ionRangeSlider").reset();
            }
        }
        

        if(@Model.DealPriceMax > 0){
            $("#deal-price-range-slider").ionRangeSlider({
                skin: "round",
                type: "double",
                min: @Model.DealPriceMin,
                max: @Model.DealPriceMax,
                from: @Model.DealPriceRange[0],
                to: @Model.DealPriceRange[1],
                grid: false,
                grid_snap: true,
                from_fixed: false,  // fix position of FROM handle
                to_fixed: false,
                onFinish: function (data) {
                    $("input[name='DealPriceRange[0]'").val(data.from);
                    $("input[name='DealPriceRange[1]'").val(data.to);
                    addOrUpdateChip(resetDealPriceRangeRangeSlider, "deal-price-chip", "成交价格(美元)：" + data.from, data.to);
                }
            });
            function resetDealPriceRangeRangeSlider(){
                $("#deal-price-range-range-slider").data("ionRangeSlider").reset();
            }
        }

        if(@Model.SoldAtMax > 0){
            $("#sold-at-range-slider").ionRangeSlider({
                skin: "round",
                type: "double",
                min: @Model.SoldAtMin,
                max: @Model.SoldAtMax,
                from: @Model.SoldAtRange[0],
                to: @Model.SoldAtRange[1],
                grid: false,
                grid_snap: true,
                from_fixed: false,  // fix position of FROM handle
                to_fixed: false,
                onFinish: function (data) {
                    $("input[name='SoldAtRange[0]'").val(data.from);
                    $("input[name='SoldAtRange[1]'").val(data.to);
                    addOrUpdateChip(resetDealPriceRangeRangeSlider, "deal-price-chip", "拍卖日期：" + data.from, data.to);
                }
            });
            function resetDealPriceRangeRangeSlider(){
                $("#deal-price-range-range-slider").data("ionRangeSlider").reset();
            }
        }
        
        (function BindCheckBox(){
            //$("#models-form-group").find("input[type='checkbox']:visible").each(function(i, ele){
            $("input[type='checkbox']:visible").each(function(i, ele){
                $(ele).on("change", function(){
                    var chipId = $(this).attr("id") + "-chip";
                    if($(this).is(':checked')){
                        var checkboxArrayId = $(this).attr("id").split("_").slice(0,2).join("_");  
                        var hiddenInputId = checkboxArrayId + "__Name";
                        var valueInput = $("#" + hiddenInputId);
                        
                        addOrUpdateChip(resetCheckboxStatus, chipId, valueInput.val());
                    }else{
                        $("#" + chipId).remove();
                        searchEquipments();
                    }
                    
                })
            });
        })();
        function resetCheckboxStatus(id){
            $("#" + id.toString()).prop('checked', false);     
        }

        $(".order-ul .list-inline-item").on("click", function(){
            var className = "text-warning";
            var $orderBys = $(this).find(".order-by");
            if($orderBys.length > 0){
                if($(this).find("p").hasClass(className)){
                    $orderBys.toggleClass("d-none");
                }
                var $showOrderBy = $(this).find(".order-by:visible");
                $("#Sort_Field").val($orderBys.first().data("order-by"));
                if($showOrderBy.data("direction") == "desc"){
                    $("#Sort_Direction").val("desc");
                }else{
                    $("#Sort_Direction").val("asc");
                }
            }else{
                $("#Sort_Field").val("");
                $("#Sort_Direction").val("");
            }

            $(".order-ul .list-inline-item").find("p").removeClass(className);
            $(this).find("p").addClass(className);
        });
        
    </script>
}