@using Auction.Entities
@model EquipmentViewModel
@{
    ViewData["Title"] = "详情";
    var FirstPhotos = new List<PhotoViewModel>();
    if(Model.CoverPhoto != null)  { FirstPhotos.Add(Model.CoverPhoto); }
    if(Model.ExteriorPhotos.Count > 0)  { FirstPhotos.Add(Model.ExteriorPhotos.First()); }
    if(Model.TrackedChassisPhotos.Count > 0) { FirstPhotos.Add(Model.TrackedChassisPhotos.First()); }
    if(Model.CabPhotos.Count > 0) { FirstPhotos.Add(Model.CabPhotos.First()); }
    if(Model.BoomPhotos.Count > 0) { FirstPhotos.Add(Model.BoomPhotos.First()); }
    if(Model.EnginePhotos.Count > 0) { FirstPhotos.Add(Model.EnginePhotos.First()); }
}
<div class="bodyinfo equipment-show text-dark container-fluid">

    <div class="photos-container pt-3">
        <span class="row equipment-name font-weight-bold h3 col" style="color: #EAB82D">
            @if(Model.DealPrice != null && Model.DealPrice != 0 && ViewData["Type"].ToString() == "InsteadAuction"){
                <span class="sold-out-new"></span>
            }
            <span @if(Model.DealPrice != null && Model.DealPrice != 0 && ViewData["Type"].ToString() == "InsteadAuction"){ @Html.DisplayName("style=text-indent:5rem;")}>
                @Model.Manufacturer  @Model.Model @Model.Name
            </span>
        </span>
        <div class="row ">
            <div class="first-photos photos col-md-3  order-1  order-md-0" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @FirstPhotos){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath); " itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
    
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @FirstPhotos){
                            @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="equipment-message col-md-4 col-lg-5 col-sm-12 d-inline order-0  order-md-1">
                <div class="col-md-6  float-left">
                    <label>@Html.DisplayNameFor(model => Model.Country)@Html.DisplayNameFor(model => Model.City)</label>:
                    <span>
                        @Html.DisplayFor(modelItem => modelItem.Country)@Html.DisplayFor(modelItem => modelItem.City)
                    </span>
                </div>
                @if(ViewData["Type"].ToString() == "InsteadAuction"){
                    <div class="col-md-6  float-left">
                        <label asp-for="Price"></label>:
                        <span>
                            @Model.Price@Html.DisplayFor(modelItem => modelItem.PriceCurrency.SymbolCode)
                        </span>
                    </div>
                }
                <div class="clearfix"></div>

                @if(ViewData["Type"].ToString() == "NoAuction" || ViewData["Type"].ToString() == "Auctioned"){
                    <div class="col-md-6  float-left">
                        <label asp-for="AuctionHouse"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.AuctionHouse)
                        </span>
                    </div>
                    <div class="col-md-6  float-left">
                        <label asp-for="SoldAt"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.SoldAt)
                        </span>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                }

                <div class="col-md-6  float-left">
                    <label asp-for="ProductionDate"></label>:
                    <span>
                        @Html.DisplayFor(modelItem => modelItem.ProductionDate)
                    </span>
                </div>
                <div class="col-md-6  float-left">
                    <label asp-for="WorkingTime"></label>:
                    <span>
                        @Html.DisplayFor(modelItem => modelItem.WorkingTime)
                    </span>
                </div>
                
                @if(ViewData["Type"].ToString() == "NoAuction" || 
                    (ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice == null)){
                    @if(Model.FrameNo != null){
                        <div class="col-md-6  float-left">
                            <label asp-for="FrameNo"></label>:
                            <span>
                                @Html.DisplayFor(modelItem => modelItem.FrameNo)
                            </span>
                        </div>
                    }
                    @if(Model.EngineNo != null){
                        <div class="col-md-6  float-left">
                            <label asp-for="EngineNo"></label>:
                            <span>
                                @Html.DisplayFor(modelItem => modelItem.EngineNo)
                            </span>
                        </div>
                    }
                }
                
                <div class="col-md-12">&nbsp;</div>
                @if(Model.Long != null){
                    <div class="col-md-6  float-left">
                        <label asp-for="Long"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.Long)
                        </span>
                    </div>
                }

                @if(Model.Width != null){
                    <div class="col-md-6  float-left">
                        <label asp-for="Width"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.Width)
                        </span>
                    </div>
                }
                @if(Model.Height != null){
                    <div class="col-md-6  float-left">
                        <label asp-for="Height"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.Height)
                        </span>
                    </div>
                }
                @if(Model.Weight != null){
                    <div class="col-md-6  float-left">
                        <label asp-for="Weight"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.Weight)
                        </span>
                    </div>
                }
                @if(Model.Volume != null){
                    <div class="col-md-6  float-left">
                        <label asp-for="Volume"></label>:
                        <span>
                            @Html.DisplayFor(modelItem => modelItem.Volume)
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>

    @if(Model.ExteriorPhotos != null && Model.ExteriorPhotos.Count > 0){
    <div class="exterior-photos-container photos-container">
        <div class="row photo-title col mb-1">
            外观图片:
        </div>
        <div class="row">
            <div class="exterior-photos photos col-md-3" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @Model.ExteriorPhotos?.OrderBy(p => p.FileName)){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
    
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @Model.ExteriorPhotos?.OrderBy(p => p.FileName)){
                            @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="photo-message">
            </div>
        </div>
    </div>
    }
    @if(Model.TrackedChassisPhotos != null && Model.TrackedChassisPhotos.Count > 0){
    <div class="tracked-chassis-photos-container photos-container">
        <div class="row photo-title col mb-1">
            履带底架图片:
        </div>
        <div class="row">
            <div class="tracked-chassis-photos photos col-md-3" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @Model.TrackedChassisPhotos?.OrderBy(p => p.FileName)){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @Model.TrackedChassisPhotos?.OrderBy(p => p.FileName)){
                            @if(photo.IsHiddenAfterSold &&
                                (ViewData["Type"].ToString() == "Auctioned" ||
                                ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="photo-message">
            </div>
        </div>
    </div>
    }
    
    @if(Model.CabPhotos != null && Model.CabPhotos.Count > 0){
    <div class="cab-photos-container photos-container">
        <div class="row photo-title col mb-1">
            驾驶室照片:
        </div>
        <div class="row">
            <div class="cab-photos photos col-md-3" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @Model.CabPhotos?.OrderBy(p => p.FileName)){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
    
                @if(@Model.CabPhotos.Count > 1){
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @Model.CabPhotos?.OrderBy(p => p.FileName)){
                            @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                }
            </div>
            <div class="photo-message">
            </div>
        </div>
    </div>
    }
    @if(Model.BoomPhotos != null && Model.BoomPhotos.Count > 0){
    <div class="boom-photos-container photos-container">
        <div class="row photo-title col mb-1">
            臂架照片:
        </div>
        <div class="row">
            <div class="boom-photos photos col-md-3" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @Model.BoomPhotos?.OrderBy(p => p.FileName)){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @Model.BoomPhotos?.OrderBy(p => p.FileName)){
                            @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="photo-message">
            </div>
        </div>
    </div>
    }
    @if(Model.EnginePhotos != null && Model.EnginePhotos.Count > 0){
    <div class="engine-photos-container photos-container">
        <div class="row photo-title col mb-1">
            引擎照片:
        </div>
        <div class="row">
            <div class="engine-photos photos col-md-3" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper my-gallery">
                    @foreach(var photo in @Model.EnginePhotos?.OrderBy(p => p.FileName)){
                        @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                        }else{
                            <figure class="swiper-slide" style="background-image:url(@photo.RequestPath)" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="@photo.RequestPath" itemprop="contentUrl" data-size="0x0">
                                    <img src="@photo.RequestPath" itemprop="thumbnail" alt="Image description" class="d-none"/>
                                </a>
                                <figcaption></figcaption>
                            </figure>
                        }
                    }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="上一张" aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-white" tabindex="0" role="button" aria-label="下一张" aria-disabled="false"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
    
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @foreach(var photo in @Model.EnginePhotos?.OrderBy(p => p.FileName)){
                            @if(photo.IsHiddenAfterSold &&
                            (ViewData["Type"].ToString() == "Auctioned" ||
                            ViewData["Type"].ToString() == "InsteadAuction" && Model.DealPrice != null)){
                            }else{
                                <div class="swiper-slide" style="background-image:url(@photo.RequestPath)"></div>
                            }
                        }
                    </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="photo-message">
            </div>
        </div>
    </div>
    }
</div>
@await Html.PartialAsync("_PhotoSwipeWindowPort")
@section script {
<script>
    $(document).ready(function () {
        var isExteriorNoLoop = true;
        if($(".first-photos .gallery-thumbs .swiper-slide").length == 1) isExteriorNoLoop = false;

        new Swiper('.first-photos .gallery-top', {
            spaceBetween: 10,
            loop: isExteriorNoLoop,
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.first-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true, //图片少于4张的时候会发生复制图片问题
                })
            }
        });

        var isExteriorNoLoop = true;
        if($(".exterior-photos .gallery-thumbs .swiper-slide").length == 1) isExteriorNoLoop = false;

        new Swiper('.exterior-photos .gallery-top', {
            spaceBetween: 10,
            loop: isExteriorNoLoop,
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.exterior-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true, //图片少于4张的时候会发生复制图片问题
                })
            }
        });
        
        var isTrackedChassisNoLoop = true;
        if($(".tracked-chassis-photos .gallery-thumbs .swiper-slide").length == 1) isTrackedChassisNoLoop = false;
        new Swiper('.tracked-chassis-photos .gallery-top', {
            spaceBetween: 10,
            loop: isTrackedChassisNoLoop,
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.tracked-chassis-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true,
                })
            }
        });

        var isCabPhotosNoLoop = true;
        if($(".cab-photos .gallery-thumbs .swiper-slide").length == 1) isCabPhotosNoLoop = false;
        new Swiper('.cab-photos .gallery-top', {
            spaceBetween: 10,
            loop: isCabPhotosNoLoop,
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.cab-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true,
                })
            }
        });

        var isBoomPhotosNoLoop = true;
        if($(".boom-photos .gallery-thumbs .swiper-slide").length == 1) isBoomPhotosNoLoop = false;
        new Swiper('.boom-photos .gallery-top', {
            spaceBetween: 10,
            loop: isBoomPhotosNoLoop,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.boom-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true,
                })
            }
        });

        var isEnginePhotosNoLoop = true;
        if($(".engine-photos .gallery-thumbs .swiper-slide").length == 1) isEnginePhotosNoLoop = false;
        new Swiper('.engine-photos .gallery-top', {
            spaceBetween: 10,
            loop: isEnginePhotosNoLoop,
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            thumbs: {
            swiper: new Swiper('.engine-photos .gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                    //loop: true,
                })
            }
        });

        initPhotoSwipeFromDOM('.my-gallery');
    });
</script>
}